<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4>Hello {{user.name}},</h4>
        <p class="lead">
          The current selected organization is {{organization.name}}.
        </p>
         <p class="lead">
          You are logged as {{user.role}}.
        </p>
        <button id="btnLoadUpdateOrganization" onclick="loadUpdateOrganization()" type="button" class="btn btn-primary">Update</button>
    </div>
</div>